services:
  devhabit.api:
    image: devhabit.api
    build:
      context: .
      dockerfile: DevHabit.Api/Dockerfile
    ports:
      - "5000:8080"
      - "5001:8081"
    environment:
      # SEQ
      # - OTEL_EXPORTER_OTLP_ENDPOINT=http://devhabit.seq:5341/ingest/otlp
      # - OTEL_EXPORTER_OTLP_PROTOCOL=http/protobuf
    
      # Aspire Dashboard
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://devhabit.aspire-dashboard:18889
      - OTEL_EXPORTER_OTLP_PROTOCOL=grpc
  
#  devhabit.seq:
#    image: datalust/seq:latest
#    user: root
#    environment:
#      ACCEPT_EULA: "Y"
#      SEQ_FIRSTRUN_NOAUTHENTICATION: "true"
#    volumes:
#      - ./.containers/seq_data:/data
#    ports:
#      - "8080:80"
#      - "5341:5341"
  
  devhabit.aspire-dashboard:
    image: mcr.microsoft.com/dotnet/aspire-dashboard:13
    environment:
      DOTNET_DASHBOARD_UNSECURED_ALLOW_ANONYMOUS: true
    ports:
      - "18888:18888"